{% macro input(name, value, type, size) %}
    <input type="{{ type }}" name="{{ name }}" value="{{ value }}" size="{{ size|default(20) }}" />
{% endmacro %}

{% macro wrapped_input(name, value, type, size) %}
    {% import _self as forms %}

    <div class="field">
        {{ forms.input(name, value, type, size) }}
    </div>
{% endmacro %}